* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    direction: rtl;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 15px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 70px;
    font-family: 'default-2';
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;;
}

@media(min-width: 576px) {
    .container {
    width: 80%;
    }
}

@media(min-width: 768px) {
    .container {
    width: 75%;
    }
}

@media(min-width: 992px) {
    .container {
    width: 70%;
    }
}

@media(min-width: 1200px) {
    .container {
    width: 65%;
    }
}

@media(min-width: 1400px) {
    .container {
    width: 60%;
    }
}

.container .header {
    font-family: 'aref-regular';
    font-size: 35px;
    color: #198754;
    line-height: 1;
    margin-bottom: 10px;
}

.item {
    font-family: 'default-2';
    font-size: 25px;
}

.group .title {
    font-family: 'aref-regular';
    font-size: 20px;
    color: #198754;
}

.content {
    font-family: 'default-2';
    font-family: 20px;
}

.social-link a {
    font-size: 35px;
    color: #198754;
    transition: color 0.3s ease;
}

.social-link a:hover {
    font-size: 35px;
    color: #333;
}

.social-links-group {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
