:root {
  --green: #198754;
  --white: #ffffff;
  --light-gray: #f1f1f1;
  --dark-gray: #333333;
  --text-dark: #212529;
}

/* Navbar */
.navbar {
  background-color: var(--green);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 35px;
}

.navbar-title {
  font-size: 75px;
  color: var(--white);
  font-family: 'aref-bold';
  background: linear-gradient(90deg, #198754, #ffffff, #198754);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: waveColor 6s linear infinite;
}

@keyframes waveColor {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
