@font-face {
    font-family: 'aref-ink-regular';
    src: url(ArefRuqaaInk-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'aref-ink-bold';
    src: url(ArefRuqaaInk-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'aref-regular';
    src: url(ArefRuqaa-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'aref-bold';
    src: url(ArefRuqaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'default-1';
    src: url(Rakkas-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'default-2';
    src: url(Tajawal-Regular.ttf) format('truetype');
}
